include src/*.py scripts/*.py scripts/config.guess platforms/*.py
include scripts/environment*sh scripts/bash/bashrc.* scripts/zsh/zsh*
include scripts/cmake/*.cmake
include README README.rst COPYING doc/*.rst
