include src/*.py

include platforms/modules/*.py
include platforms/env/*.conf
include platforms/cmake/*.cmake

include scripts/config.guess
include scripts/crossroad-mingw-install.py
include scripts/shells/bash/bashrc.template
include scripts/shells/bash/bash_completion.d/crossroad
include scripts/shells/zsh/zsh*
include scripts/shells/*.sh
include scripts/bin-wrappers/crossroad-gcc
include scripts/bin-wrappers/crossroad-pkg-config
include scripts/bin-wrappers/crossroad-cpp

include README README.rst COPYING doc/*.rst
